{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}Payments{% endblock page_title %}

{% block content %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Method</th>
            <th>Date</th>
            <th>Summ</th>
            <th>Actions</th>
        </tr>
        {% for payment in object_list %}
            <tr>
                <td>{{ payment.pk }}</td>
                <td><a href="{% url 'user_details' payment.user.pk %}">{{ payment.user.username }}</a></td>
                <td>{{ payment.method }}</td>
                <td>{{ payment.date|date }}</td>
                <td>{{ payment.summ }}</td>
                <td>
                    <a href="{% url 'remove_payment' payment.pk %}" class="remove-confirmation">Remove</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'payments' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'payments' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="remove_confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Warning</h4>
          </div>
          <div class="modal-body">
              <span id="link" class="hidden"></span>
              This payment will be removed, continue?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="yes">Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/user_list.js' %}"></script>
{% endblock extra_js %}